In [23]:
import pandas as pd
import os
import sys
import requests
from census import Census
from us import states
import zipfile 
from configy import api_key

In [27]:
!kaggle datasets download -d ahmedshahriarsakib/usa-real-estate-dataset

Downloading usa-real-estate-dataset.zip to /Users/og/Desktop/Final_Project/Data-Engineering-Project/Test_code
 87%|█████████████████████████████████     | 13.0M/14.9M [00:00<00:00, 19.7MB/s]
100%|██████████████████████████████████████| 14.9M/14.9M [00:00<00:00, 18.5MB/s]

# Extraction

In [31]:
import os
import zipfile

def extract_real_estate_data() -> str:
    !kaggle datasets download -d ahmedshahriarsakib/usa-real-estate-dataset
    zip_path = './usa-real-estate-dataset.zip'
    csv_folder = './data/real_estate/'
    
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(csv_folder)
    
    os.remove(zip_path)
    
    csv_file = os.path.join(csv_folder, 'usa-real-estate-dataset.zip')
    return csv_file

In [32]:

# Call the function to extract the data and get the path to the CSV file
csv_path = extract_real_estate_data()

Downloading usa-real-estate-dataset.zip to /Users/og/Desktop/Final_Project/Data-Engineering-Project/Test_code
100%|██████████████████████████████████████| 14.9M/14.9M [00:00<00:00, 40.5MB/s]
100%|██████████████████████████████████████| 14.9M/14.9M [00:00<00:00, 35.6MB/s]

In [29]:
zip_path = './usa-real-estate-dataset.zip'

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall('./')

In [30]:
os.remove(zip_path)

In [4]:
path = './realtor-data.csv'

df = pd.read_csv(path)

In [5]:
states = ['California','Florida','New York','Texas','Pennsylvania']
df = df[df['state'].isin(states)]

In [6]:
df.head(5)

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
30149,for_sale,175000.0,3.0,1.0,60.00,"187 Bly Hollow Rd, Berlin, NY, 12022",187 Bly Hollow Rd,Berlin,New York,12022.0,1176.0,NaN
54248,for_sale,425000.0,3.0,2.0,2.02,"1288 Route 23, Claverack, NY, 12521",1288 Route 23,Claverack,New York,12521.0,1600.0,2021-11-24
54258,for_sale,225000.0,4.0,2.0,0.24,"28 Oriole Rd, Copake, NY, 12521",28 Oriole Rd,Copake,New York,12521.0,1239.0,2018-02-01
54259,for_sale,419000.0,3.0,3.0,1.90,"1315 Lake View Rd, Copake, NY, 12516",1315 Lake View Rd,Copake,New York,12516.0,1800.0,NaN
54262,for_sale,365000.0,3.0,2.0,2.00,"105-111 Breezy Hl, Copake, NY, 12517",105-111 Breezy Hl,Copake,New York,12517.0,1482.0,NaN

In [33]:
df = df[df['sold_date'].dt.year.between(2016,2021)]

In [35]:
df.shape

(11310, 12)

In [37]:
df.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
30149,for_sale,175000.0,3,1,60.00,"187 Bly Hollow Rd, Berlin, NY, 12022",187 Bly Hollow Rd,Berlin,New York,12022,1176,NaT
54248,for_sale,425000.0,3,2,2.02,"1288 Route 23, Claverack, NY, 12521",1288 Route 23,Claverack,New York,12521,1600,2021-11-24
54258,for_sale,225000.0,4,2,0.24,"28 Oriole Rd, Copake, NY, 12521",28 Oriole Rd,Copake,New York,12521,1239,2018-02-01
54259,for_sale,419000.0,3,3,1.90,"1315 Lake View Rd, Copake, NY, 12516",1315 Lake View Rd,Copake,New York,12516,1800,NaT
54262,for_sale,365000.0,3,2,2.00,"105-111 Breezy Hl, Copake, NY, 12517",105-111 Breezy Hl,Copake,New York,12517,1482,NaT

In [36]:
df.shape

(64319, 12)

In [8]:
df.dtypes

status           object
price           float64
bed             float64
bath            float64
acre_lot        float64
full_address     object
street           object
city             object
state            object
zip_code        float64
house_size      float64
sold_date        object
dtype: object

In [9]:
df['sold_date'] = pd.to_datetime(df['sold_date'], format='%Y-%m-%d')

In [10]:
df[['house_size','bed','bath','zip_code']] = df[['house_size','bed','bath','zip_code']].fillna(0).astype(int)

In [11]:
df.dtypes

status                  object
price                  float64
bed                      int64
bath                     int64
acre_lot               float64
full_address            object
street                  object
city                    object
state                   object
zip_code                 int64
house_size               int64
sold_date       datetime64[ns]
dtype: object

In [12]:
df.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
30149,for_sale,175000.0,3,1,60.00,"187 Bly Hollow Rd, Berlin, NY, 12022",187 Bly Hollow Rd,Berlin,New York,12022,1176,NaT
54248,for_sale,425000.0,3,2,2.02,"1288 Route 23, Claverack, NY, 12521",1288 Route 23,Claverack,New York,12521,1600,2021-11-24
54258,for_sale,225000.0,4,2,0.24,"28 Oriole Rd, Copake, NY, 12521",28 Oriole Rd,Copake,New York,12521,1239,2018-02-01
54259,for_sale,419000.0,3,3,1.90,"1315 Lake View Rd, Copake, NY, 12516",1315 Lake View Rd,Copake,New York,12516,1800,NaT
54262,for_sale,365000.0,3,2,2.00,"105-111 Breezy Hl, Copake, NY, 12517",105-111 Breezy Hl,Copake,New York,12517,1482,NaT

In [13]:
df.isnull().sum()

status              0
price               0
bed                 0
bath                0
acre_lot        37173
full_address        0
street            493
city                1
state               0
zip_code            0
house_size          0
sold_date       29853
dtype: int64

In [14]:
df.shape

(64319, 12)

In [15]:
# from geopy.geocoders import Nominatim
# import requests
# import logging

In [16]:

# def get_coordinates(area, country='USA'):
#     geolocator = Nominatim(user_agent="my-app")  # Specify a user agent for the geocoding service
#     location = geolocator.geocode(area + ", " + country)
#     if location:
#         latitude = location.latitude
#         longitude = location.longitude
#         return latitude, longitude
#     else:
#         return None, None

In [17]:
# pip install geopy

In [18]:
# import pandas as pd
# from pyspark.sql import SparkSession
# import logging

# # Configure logging
# logging.basicConfig(level=logging.INFO)

# # Create a SparkSession
# spark = SparkSession.builder.getOrCreate()

# # Convert pandas DataFrame to PySpark DataFrame
# pyspark_df = spark.createDataFrame(zip_code_df)

# # Convert PySpark DataFrame to Pandas DataFrame
# pandas_df = pyspark_df.toPandas()

# # Add latitude and longitude columns using pandas apply method
# def add_coordinates(row):
#     zip_code = row['zip_code']
#     latitude, longitude = get_coordinates(zip_code, "")
#     print(f"Zip Code: {zip_code}, Latitude: {latitude}, Longitude: {longitude}")
#     return pd.Series([latitude, longitude])

# pandas_df[['latitude', 'longitude']] = pandas_df.apply(add_coordinates, axis=1)

# # Convert Pandas DataFrame back to PySpark DataFrame
# pyspark_df = spark.createDataFrame(pandas_df)

# # Show the resulting DataFrame
# pyspark_df.show()

In [19]:
# state_df['latitude'] = ""
# state_df['longitude'] = ""
# for index, row in state_df.iterrows():
#     name = row['zip_code']
#     latitude, longitude = get_coordinates(name, "")
#     state_df.at[index, 'latitude'] = latitude
#     state_df.at[index, 'longitude'] = longitude
#     print(f"Coordinates for State {name}: Latitude={latitude}, Longitude={longitude}")


# city_df['latitude'] = ""
# city_df['longitude'] = ""
# for index, row in city_df.iterrows():
#     city = row['city']
#     latitude, longitude = get_coordinates(city, "")
#     city_df.at[index, 'latitude'] = latitude
#     city_df.at[index, 'longitude'] = longitude
#     print(f"Coordinates for city {city}: Latitude={latitude}, Longitude={longitude}")


# zip_code_df['latitude'] = ""
# zip_code_df['longitude'] = ""
# for index, row in zip_code_df.iterrows():
#     zip_code = row['zip_code']
#     latitude, longitude = get_coordinates(zip_code, "")
#     zip_code_df.at[index, 'latitude'] = latitude
#     zip_code_df.at[index, 'longitude'] = longitude
#     print(f"Coordinates for zip code {zip_code}: Latitude={latitude}, Longitude={longitude}")

# Transformation Notes
- add poverty_rate, employment_rate with pyspark in second ETL pipline to BQ warehouse

- split city column into city & state with PD first ETL pipeline to Storage lake 
- zip_df remove zip_code_tabluation_area first ETL pipeline with PD
- retrieve longitiude and latitude for zip, city, state level then add column and concat with PD
- drop 'place' column from city_df with PD
- reindex columns

In [20]:
# print(f'Columns: {state_df.dtypes}')
# print(f'Rows: {len(state_df)}')

In [21]:
# def calculate_rates(df: pd.DataFrame) -> pd.DataFrame:
#     df["poverty_rate"] = 100 * df['poverty_count'].astype(int) / df["population"].astype(int)
#     df["unemployment_rate"] = 100 * df["unemployment_count"].astype(int) / df["population"].astype(int)

#     return df

# state_df = calculate_rates(state_df)
# city_df = calculate_rates(city_df)
# zip_code_df = calculate_rates(zip_code_df)

# state_df = state_df[['year', 'name', 'population', 'median_age', 'household_income', 'per_capita_income',
#                     'poverty_count', 'unemployment_count', 'employment_count', 'poverty_rate','unemployment_rate']]
# city_df = city_df[['year', 'city', 'population', 'median_age', 'household_income', 'per_capita_income',
#                 'poverty_count', 'unemployment_count', 'employment_count', 'poverty_rate', 'unemployment_rate']]
# zip_code_df = zip_code_df[['year', 'zip_code', 'population', 'median_age', 'household_income', 'per_capita_income',
#                         'poverty_count', 'unemployment_count', 'employment_count', 'poverty_rate', 'unemployment_rate']]

# State economic data

# City Economic Data

# Zip Code Economic Data

# State Geographic Data

In [22]:
# values = zip_code_df['geographical_mobility'].isnull().sum()
# values

# Transforms - Geographic
- reorder index
    - year first, location second
- drop zip code tabulation area' 
- drop first half of zip code

# City Demographic Data

# Transformations

- Reorder year, place to start of df
- remove state # in state_df & city_df
- split city, and zip code column